.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #896C6C;
  color: #E5BEB5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.nav-links li a {
  color: #eea1ec;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffd6f1;
}

/* เนื้อหาด้านล่าง */
.container {
  padding-top: 80px; /* เผื่อที่ให้ navbar */
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 24px;
  font-size: 16px;
  background-color: #896c6c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e5beb5;
}

body {
  margin: 0;
  padding: 0;
  background: #F5FAE1; 
  font-family: sans-serif;
}

